

/* Messages */

.sent {
    text-align: right;
}
.received {
    text-align: left;
}
.timestamp {
    font-size: 11px;
}
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
    float: left;
}

/* Connections */
.profile-picture {
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.profile-picture-small {
    height:80px;
    width:80px;
}
.profile-picture-large {
    height:300px;
    width:300px;
}
.main-user {
    height: 100px;
    width:100px;
    position: fixed;
    margin: 2em auto;
    display: block;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}
.related-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2.8em;
    margin: 1.75em auto 0;
}
.related-user {
    margin: 2em auto;
    position: fixed;
    display: block;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.profile-info {
    border-bottom: 1px solid #e1e1e1;
}

.unread {
    background-color: #ff6b6d!important;
}
