.hidden {
    display: none;
}
.logo {
    padding: 0.25em;
    width: 150px;
}

.footer {
    background-color: #130f36;
    color: #fff;
}
.footer .columns {
    padding: 1.5em;
    font-size: 14px;
}

.footer .columns p, .footer .columns ul {
    margin-bottom: 0;
    font-size: 14px;
}
.footer a {
    color: #fff;

}

.footer-links {
    list-style-type: none;
    margin-left: 0;
}
input.header-search {
    background: transparent;
    border: none;
    border-bottom: 1px solid #cacaca;
}
.search-column {
    padding-bottom: 1em;
}
/* Messages */

.sent {
    text-align: right;
}
.received {
    text-align: left;
}
.timestamp {
    font-size: 11px;
}
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
    float: left;
}
.messages {
    position: relative;
}
#messages {
    height:250px;
    overflow-y: scroll;
}

/* Connections */
.profile-picture {
    background-size: cover;
    background-position: center;
    border-radius: 200px;
}
.profile-picture-small {
    height:80px;
    width:80px;
}
.profile-picture-medium {
    height:180px;
    width:180px;
}
.profile-picture-large {
    height:250px;
    width:250px;
}
.search-profile {
    text-align: center;
}
.search-profile .profile-picture {
    margin-left: auto;
    margin-right: auto;
}
.main-user {
    position: absolute;
    display: block;
    top: 50%; left: 50%;
    width: 5em; height: 5em;
    margin: -2em;
    z-index: 100;
}
.related-container {
    position: relative;
    width: 54em;
    height: 24em;
    padding: 2.8em;
    margin: 1.75em auto 0;
}
.related-user {
    position: absolute;
    display: block;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
    z-index: 100;
}

.profile-info {
    border-bottom: 1px solid #e1e1e1;
}

.unread {
    background-color: #ff6b6d!important;
}

.ui-tooltip, .arrow:after {
    background: #EFEFEF;
}
.ui-tooltip {
    padding: 10px 20px;
    color: #000;
    border-radius: 10px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
    position: relative;
    width:150px;
    text-align: center;
}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 100%;
    /*margin-left: -35px;*/
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 30%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}
.radius-form {
    padding: 2em;
}
input.radius-input {
    width: 80px;
}
div.location p {
    font-size: 0.8rem;
}
.checkbox {
    width: 50%;
    display: inline-block;
}

.hover-overlay {
    position: absolute;
    display: block;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
    z-index: 100;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.35);
    opacity: 0;
    border-radius: 200px;
}
.reveal-link:hover .hover-overlay {
    opacity: 1;
}
.hover-overlay p {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.connection-notifications {
    border-radius: 50px;
    background-color: #d33c44;
    color: #fff;
}

/*loading animation */


/* */

.twoToneCenter {
    text-align: center;
    margin: 1em 0;
}

.location-button:active {
    color: #fff;
    background: transparent;
}
.location-button.spinning {
    padding-right: 40px;
}
.location-button.spinning:after {
    content: '';
    right: 6px;
    top: 50%;
    width: 0;
    height: 0;
    position: absolute;
    border-radius: 50%;
    -webkit-animation: rotate360 .5s infinite linear, exist .1s forwards ease;
    animation: rotate360 .5s infinite linear, exist .1s forwards ease;
}
.location-button.spinning:before {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 50%;
    right: 6px;
    top: 50%;
    position: absolute;
    border-right: 3px solid #fff;
    -webkit-animation: rotate360 .5s infinite linear, exist .1s forwards ease ;
    animation: rotate360 .5s infinite linear, exist .1s forwards ease ;
}
@-webkit-keyframes rotate360 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate360 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}
@keyframes exist {
    100% {
        width: 15px;
        height: 15px;
        margin: -8px 5px 0 0;
    }
}
